<p id="notice"><%= notice %></p>

<h1>Userdats</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Dob</th>
      <th>Vaccination</th>
      <th>Gender</th>
      <th>Bloodgroup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userdats.each do |userdat| %>
      <tr>
        <td><%= userdat.fullname %></td>
        <td><%= userdat.dob %></td>
        <td><%= userdat.vaccination %></td>
        <td><%= userdat.gender %></td>
        <td><%= userdat.bloodgroup %></td>
        <td><%= link_to 'Show', userdat %></td>
        <td><%= link_to 'Edit', edit_userdat_path(userdat) %></td>
        <td><%= link_to 'Destroy', userdat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userdat', new_userdat_path %>
