<p id="notice"><%= notice %></p>

<h1>Userdata</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Dob</th>
      <th>Vaccination</th>
      <th>Gender</th>
      <th>Bloodgroup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userdata.each do |userdatum| %>
      <tr>
        <td><%= userdatum.fullname %></td>
        <td><%= userdatum.dob %></td>
        <td><%= userdatum.vaccination %></td>
        <td><%= userdatum.gender %></td>
        <td><%= userdatum.bloodgroup %></td>
        <td><%= link_to 'Show', userdatum %></td>
        <td><%= link_to 'Edit', edit_userdatum_path(userdatum) %></td>
        <td><%= link_to 'Destroy', userdatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userdatum', new_userdatum_path %>
